page-home {

  .headToolBar {

  }

  .bar-button-md[icon-only] ion-icon,img {
    font-size: 4.2rem;
  }
  
  .logoImg {
    margin-left: auto;
	margin-right: auto;
  }
  
  .bookmarkToolbar {
    height:2em;
	min-height:2em;
  }
  
  ion-col div {
    background-color: #F9FAFB;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
}
