page-bookmark-list {

 .loadingImg {
   display:inline-block;
   margin-top: 25px;
   margin-left: 43%; 
 }

  #listIcon,#gridIcon {
    font-size: 3rem;
  }
 
  .bookmarkCardLabel {
	background-color:#fff;
	border:0;
  }
}
